{% extends 'base.html' %}

{% block content %}
    
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h2>Meilleur aeroport selon les restau/shops de chaque continent</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card-deck">
                {% for row in airports_continent_by_restaurant %}
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            {{ row._id }}, 
                        </div>
                        <div class="card-body">
                        <h5 class="card-title">{{ row.name }}</h5>
                        <p class="card-text">{{ row.maxScore }}/10</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h2>Meilleur aeroport selon les restau/shops de chaque sous-continent</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            {% for row in airports_subregion_by_restau %}
                {% set loop_custom = loop.index-1 %}

                {% if loop_custom is divisibleby(5) or loop.first %}
                    {% if not loop.first %}
                        </div>
                    {% endif %}
                    <div class="card-deck">
                {% endif %}
                    <div class="card shadow-sm" style="width: 18rem;">
                        <div class="card-header">
                            {{ row._id }}, {{ row.country }}
                        </div>
                        <div class="card-body">
                        <h5 class="card-title">{{ row.name }}</h5>
                        <p class="card-text">{{ row.maxScore }}/10</p>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}