<header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(0, 0, 0, 0.2);">
        <div class="container-fluid">
            <a class="navbar-brand" id="logo" href="#">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="AirHelp" height="85">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}" style="font-weight: bolder;">Home</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
</header>